In [5]:
import numpy as np
import pandas as pd

In [6]:
salary_data = pd.read_csv('C:/Users/AJIT/Downloads/Salaries.csv', index_col='playerID', header=0, skiprows=[1])
salary_data
print(salary_data)

           yearID teamID lgID    salary
playerID
bedrost01    1985    ATL   NL    550000
benedbr01    1985    ATL   NL    545000
campri01     1985    ATL   NL    633333
ceronri01    1985    ATL   NL    625000
chambch01    1985    ATL   NL    800000
...           ...    ...  ...       ...
treinbl01    2015    WAS   NL    512800
ugglada01    2015    WAS   NL    507500
werthja01    2015    WAS   NL  21000000
zimmejo02    2015    WAS   NL  16500000
zimmery01    2015    WAS   NL  14000000

[25574 rows x 4 columns]